doctype
html
    head
        title= "Rockernevelde chat"
        script(src='http://code.jquery.com/jquery-latest.js', type='text/javascript')
        script(src='/socket.io/socket.io.js', type='text/javascript')
        script(src='/chat.js', type='text/javascript')
        link(href='/layout.css', rel='stylesheet', type='text/css')
    body
        div#chat_content
        div#chat_participants
        div.clear
    div#chat_controls
        textarea#chat_text
        div#chat_send_container
            input#chat_send(type='button', value='send')